/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

header {
display:grid;
grid-template-columns: 150px 1fr;
 border-bottom:1px solid;
margin: 0;
padding:1em 0;
	svg {
	max-width:100%;
	width:150px;
	}
li {
	list-style:none;

	a {
	text-decoration:none;
	color:black;
	}
}

nav {
	justify-self:right;
	text-transform:uppercase;
	font-size:.8em;
	font-weight:bold;
	ul {
	padding:0;
	display:grid;
	grid-template-columns: 1fr 1fr 1.5fr 1fr;
	}

	.nav-bottom--right {
	display:grid;
	grid-template-columns: 2fr 1fr ;
	a {
	text-decoration:none;
	color:black;
	}
	}
}
}